* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-color: #0F172A;
    --indigo-400: #818CF8;
    --indigo-500: #6366F1;
    --indigo-600: #4F46E5;
    --blue-gray-400: #CBD5E1;
    --blue-gray-600: #475569;
    --blue-gray-700: #334155;
    --white: #f5f5f5;
    --black: #111; 
}

body {
    background-color: var(--bg-color);
    font-family: 'Roboto';
}

.button {
    width: 260px;
    height: 60px;
    color: var(--white);
    border-radius: 8px;
    cursor: pointer;
    border: none;
    font-size: 1rem;
}

.button-menu {
    width: 40px;
    height: auto;
    aspect-ratio: 1/1;
    border-radius: 8px;
    border: 1px solid var(--blue-gray-600);
    background-color: var(--blue-gray-700);
    color: var(--white);
    font-size: 18px;
    cursor: pointer;
    display: none;
}

.menu-active {
    position: absolute;
    top: 90px;
    left: 0;
    background-color: var(--bg-color);
    flex-direction: column;

}

.button-primary {
    background-color: var(--indigo-600);
}

.button-primary:hover {
    background-color: var(--indigo-500);
}

.button-secondary {
    background-color: var(--blue-gray-700);
}

.button-secondary:hover {
    background-color: var(--blue-gray-600);
}

.button-transparent {
    background: transparent;
}

.container {
    width: 90%;
    margin: 0 auto;
}


/** header **/

.header {
    width: 100%;
    height: 96px;
    position: sticky;
    top: 0;
    left: 0;
    background-color: var(--bg-color);
}

.header .header__container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .header__container figure {
    width: 20%;
}

.header .header__container nav {
    width: 50%;
}

.header .header__container .button-transparent {
    width: 95px;
}

.header .header__container nav ul.header__menu {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.header .header__container nav ul.header__menu li {
    list-style: none;
}

.header .header__container nav ul.header__menu li a {
    color: var(--white);
    text-decoration: none;
}


.close i:first-child {
    display: none;
}

.button-menu i:last-child {
    display: none;
}

/** Hero **/

.hero {
    height: calc(100vh - 96px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.hero section.hero__cta {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.hero section.hero__cta h3, .hero section.hero__cta h1 {
    text-align: center;
}

.hero section.hero__cta h1 {
    font-size: 72px;
    color: var(--white);
}

.hero section.hero__cta h3 {
    font-size: 20px;
    color: var(--indigo-400);
}

.hero section.hero__cta p {
    font-size: 18px;
    color: var(--blue-gray-400);
    text-align: center;
    max-width: 65ch;
    margin: 0 auto;
}

.hero section.hero__cta .hero__buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

/** Companies **/

.companies {
    border: #0F172A;
    margin-bottom: 80px;
}

.companies h3 {
    margin-bottom: 80px;
    font-size: 1.5rem;
    color: var(--blue-gray-400);
    text-align: center;
}

.companies .companies__logos {
    display: flex;
    justify-content: space-around;
}


/** Slogan */

.slogan {
    margin-bottom: 80px;
}

.slogan h2 {
    margin-bottom: 32px;
    text-align: center;
    font-size: 56px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: var(--white);
}

.slogan h2 span:last-child {
    color: var(--indigo-400);
}

.slogan p {
    text-align: center;
    color: var(--blue-gray-400);
    font-size: 18px;
}

.features {
    margin-bottom: 80px;
}

.features__container {
    display: flex;
    align-items: center;
    gap: 80px; 
}

.features .features__content, .features .features__gallery {
    width: calc(50% - 40px);
}

.features .features__content h3 {
    margin-bottom: 32px;
    display: flex;
    flex-direction: column;
    font-size: 48px;
    color: var(--white);
}

.features .features__content h3 span:last-child {
    color: var(--indigo-400);
}

.features .features__content p {
    width: 100%;
    max-width: 60ch;
    font-size: 18px;
    color: var(--blue-gray-400);
    line-height: 160%;
}

.features .features__gallery {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 200px);
    gap: 24px;
}

.features .features__gallery figure:first-child {
    grid-column: span 3;
    padding-left: 50px;
}

.features .features__gallery figure:nth-child(2) {
    grid-column: span 2;
}

.features .features__gallery figure:nth-child(3) {
    grid-column: span 2;
}

.features .features__gallery figure:last-child {
    grid-column: span 3;
    padding-right: 50px;
}

.features .features__gallery figure {
    width: 100%;
    height: 100%;
}

.features .features__gallery figure img {
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
    border: none;
    border-radius: 20px;
}

/** platform */

.platform{
    padding-top: 80px;
    width: 100%;
    background: linear-gradient(to bottom, var(--indigo-600) 50%, transparent 50%);
}

.platform h2 {
    color: var(--white);
    font-size: 48px;
    text-align: center;
}

.platform figure {
    width: 100%;
    display: flex;
    justify-content: center;
}

/** Invitation **/

.invitation {
    margin-bottom: 80px;
}

.invitation .invitation__container {
    display: flex;
    align-items: center;
    gap: 80px; 
}

.invitation .invitation__content, .invitation .invitation__gallery {
    width: calc(50% - 40px);
}

.invitation .invitation__gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 300px);
    gap: 24px;
}

.invitation .invitation__gallery figure {
    width: 100%;
    height: 100%;
}

.invitation .invitation__gallery figure:first-child {
    grid-column: span 2;
    padding-right: 100px;
}

.invitation .invitation__gallery figure img {
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
    border: none;
    border-radius: 20px;
}

.invitation .invitation__content h3 {
    font-size: 48px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: var(--white);
    margin-bottom: 32px;
}

.invitation .invitation__content h3 span:last-child {
    color: var(--indigo-400);
}


.invitation .invitation__content p {
    font-size: 18px;
    line-height: 160%;
    color: var(--blue-gray-400);
}

.invitation .invitation__content ul {
    margin: 24px 0;
}

.invitation .invitation__content ul li {
    display: flex;
    align-items: center;
    gap: 10px;
    list-style: none;
    color: var(--white);
    margin-bottom: 10px;
}

.invitation .invitation__content ul li::before {
    display: flex;
    content: '';
    width: 10px;
    height: auto;
    aspect-ratio: 1 / 1;
    background-image: url(../img/check.png);
    background-position: center;
}


/*** Reviews **/

.reviews {
    width: 100%;
    margin-bottom: 80px;
}

.reviews .reviews__intro h3 {
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: var(--white);
    font-size: 48px;
    text-align: center;
}

.reviews .reviews__intro h3 span:last-child {
    color: var(--indigo-400);
}

.reviews .reviews__intro p {
    margin-top: 24px;
    text-align: center;
    font-size: 18px;
    color: var(--blue-gray-400);
}

.reviews .reviews__opinions {
    margin: 80px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
    overflow-x: hidden;
}

.reviews .reviews__opinions .reviews__opinions--card {
    width: 400px;
    padding: 32PX;
    border-radius: 20px;
    background-color: var(--blue-gray-700);
}

.reviews .reviews__opinions .reviews__opinions--card  p {
    margin: 16px 0;
    color: var(--white);
    font-size: 24px;
    line-height: 160%;
}

.reviews .reviews__opinions .reviews__opinions--card footer {
    display: flex;
    align-items: center;
    gap: 20px;
}

.reviews .reviews__opinions .reviews__opinions--card footer figure {
    width: 64px;
    height: auto;
    aspect-ratio: 1 / 1;
}

.reviews .reviews__opinions .reviews__opinions--card footer figure img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    border: none;
}

.reviews .reviews__opinions .reviews__opinions--card footer section h4 {
    font-size: 18px;
    color: var(--white);
}

.reviews .reviews__opinions .reviews__opinions--card footer section h6 {
    font-size: 1rem;
    color: var(--blue-gray-400);
}

.reviews .reviews__controls {
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
}

.reviews .reviews__controls button {
    padding: 12px 8px;
    background-color: transparent;
    color: var(--white);
    border: none;
    cursor: pointer;
}


@media screen and (max-width: 400px) {
    .hero {
        width: 100%;
        padding: 30px 16px;
        height: fit-content;
    }

    .button-menu {
        display: block;
    }

    .menu-container {
        width: 100%;
        display: none;
    }

    .menu-active {
        display: flex;
    }

    .menu-active .header__menu {
        padding: 20px 16px;
        flex-direction: column;
    }

    .close i:last-child {
        display: block;
    }
    .menu-container p {
        color: var(--white);
    }

    .hero .hero__cta {
        width: 100%;
    }

    .companies .companies__logos {
        flex-wrap: wrap;
        gap: 24px 0;
    }

    .slogan {
        padding: 0 16px;
    }

    .features {
        padding: 0 16px;
    }

    .features__container {
        flex-direction: column;
    }

    .features .features__content, .features .features__gallery {
        width: 100%;
    }

    .features .features__gallery {
        grid-template-rows: repeat(2, 120px);
        gap: 10px;
    }

    .features .features__gallery figure:first-child {
        padding-left: 15px;
    }

    .features .features__gallery figure:last-child {
        padding-right: 15px;
    }

    .platform {
        padding-top: 50px;
    }

    .platform h2 {
        padding: 0 16px;
        font-size: 24px;
    }

    .platform figure img {
        width: 100%;
    }

    .invitation {
        padding: 0 16px;
    }

    .invitation .invitation__container {
        flex-direction: column-reverse;
        gap: 40px;
    }

    .invitation .invitation__container .invitation__content, 
    .invitation .invitation__container .invitation__gallery {
        width: 100%;
    }

    .invitation .invitation__container .invitation__gallery {
        grid-template-rows: repeat(2, 180px);
        gap: 15px;
    }

    .invitation .invitation__container .invitation__gallery figure:first-child {
        padding-right: 60px;
    }

}

